body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: 100% ;

    margin: 0 auto;
    max-width: 1024px;
    min-width: 800px;
    text-align: center;

}
.weather-logo{
    
}


*{
     color: white;
  box-sizing: border-box;
}

.imglogo{
    margin: 0;
    padding: 0;
}
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;

}
.card-des{
    margin: 2rem;
    width: auto;
    height: 80vh;
    text-align: center;
    border-radius:20px;
    position: relative;
    z-index: 1;
}
.container-main{
padding-top: 150px;




}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 15px !important;
  height: 35px !important;
  background: floralwhite !important; 
  font-size: 13px !important;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .form-control:focus, .form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.8); }


    .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #FFDD00; }

.card-des::before{
    filter: blur(8px);
    -webkit-filter: blur(8px);  
    background-image: linear-gradient(to right, #3A1C71, #D76D77,#FFAF7B);
    background: url('card-bg.jpg');
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.btn-primary {

  background: #FFDF00 ;
  color: #fff;
  border: 1px solid #FFDD00; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #ffef00 !important;
    cursor: pointer;
    border-color: #ffe01a !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #FFDD00;
    border: 1px solid #FFDD00; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #FFDD00;
      color: #fff; }

.big{
    font-size: 8rem;
}


.cardbody{
    margin-top: 0rem;
    margin-bottom:0rem;
    margin-left: 5rem;    
    margin-right: 5rem; 
    
}

.headerpart{
    display: flex;
    flex-direction: row;
    height: 200px;
}

.scrollable{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll; 
}

.scrollable::-webkit-scrollbar{
    display: none;
}

.leftp{
    margin-top: 1rem;
    text-align: left;
    width: 50%;
}

.rightp{
    width: 50%;
    text-align: right;
}



.headerpart{
    display: flex;
    flex-direction: row;
    height: 200px;
}

.scrollable{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll; 
}

.scrollable::-webkit-scrollbar{
    display: none;
}

.leftp{
    margin-top: 1rem;
    text-align: left;
    width: 50%;
}

.rightp{
    width: 50%;
    text-align: right;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: black;
    font-weight: 5px;
    font-size: 17px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.heading{
font-weight: 20px;
font-size: 40px;
text-align: center;
color:black ;
margin-top: 10px;

}

.heading-s{
font-weight: 20px;
font-size: 25px;
text-align: center;
color:black ;
margin-top: 10px;
margin-bottom: 3px;

}


.blurred-container {
border-radius: 25px;
display: flex;
justify-content: center;
align-items: center;
background: url('sky.jpg');
background-size: cover;
background-attachment: fixed;
height: 600px;
width: 1000px;
}

.blurred-container .content {

overflow: hidden;
box-shadow: 0 5px 32px rgba(0, 0, 0, 0.5);
padding: 0px 10px 10px 0px;
background: inherit;
border-radius: 12px;
height: 600px;
width: 1000px;



}

.blurred-container .content::before {
content: "";
position: absolute;
background: inherit;
filter: blur(20px);
}


.blurred-container .content h1,
.blurred-container .content h2 {
    position: center;
    z-index: 2;
}