@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  text-align: center;
}
p {
  padding: 0;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-location {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 50px;
  background-color: rgb(152, 95, 204);
  font-family: "Acme", sans-serif;
  width: fit-content;
}
.location-icon {
  width: 1.5rem;
  color: white;
}

#demo {
  display: inline-block;
  color: white;
}

.search-form {
  display: flex;
  justify-content: center;
}
.input-group {
  flex-basis: 400px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.3rem;
  z-index: 1;
}
.input-field {
  display: block;
  width: 90%;
  padding: 1.4rem 1.8rem;
  color: rgb(65, 65, 65);
  font-size: 1.2rem;
  border: none;
  border-radius: .5rem;
  border-bottom: 0.3rem solid rgba(143, 143, 143, 0.562);
  background-color: rgb(247, 247, 247);
  transition: all 0.3s;
}

.input-field:placeholder-shown + .input-label {
  opacity: 0;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.input-label {
  z-index: -1;
  font-size: 1.2rem;
  
  position: absolute;
  left:0;
  bottom:0;
  padding: 1rem 1.8rem;
  transition: all 0.4s cubic-bezier(0.33, -0.19, 0.32, 1.46);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.input-submit {
  position: absolute;
  right: 0;
  padding: .8rem;
  margin-right: 1.2rem;
  margin-bottom: .2rem;
  color: rgb(65, 65, 65);
  font-size: 1.2rem;
  border: none;
  border-radius: 50vmin;
  border-top: 0.15rem solid rgb(250 250 250 / 70%);
  border-bottom: 0.15rem solid rgb(143 143 143 / 34%);
  background-image: linear-gradient(76deg, rgb(247 247 247), rgb(0 0 0 / 6%));
}
.input-submit::after {
  content: '';
  position: absolute;
  inset: 0;
  border: none;
  border-radius: inherit;
  box-shadow: 0.2rem 0.2rem 0.4rem rgb(137 137 137 / 28%);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.33, -0.19, 0.32, 1.46);
}
.input-submit:hover::after {
  opacity: 1;
}

.input-submit:active::after {
  opacity: 0.2;
}